.BucketShopButton__content {
    max-height: 42px;
    min-width: 91px;
    flex-wrap: wrap;
    column-gap: 10px;
    display: flex;
    padding: 11px 18px 7px;
    border: solid 1px #494949;
    border-radius: 2px;
    background: none;
}

.BucketShop__Price {

    font-size: 16px;
    font-weight: bold;
    color: var(--white-color);
}