.PromotionalCard__content {
    position: relative;
    display: flex;
    cursor: pointer;
    max-width: 350px;
    min-height: 354px;

}

.PromoCommon__block {
    padding: 24px 20px 24px 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: solid 1px #ECECEC;
}

.Promo__DiscountProcent {
    right: 12px;
    top: 12px;
    color: var(--white-color);
    position: absolute;
    padding: 8px 11px;
    background-color: var(--orange-color);
    border-radius: 2px;
}

.PromoCard__text {
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
    max-width: 260px;
    flex-grow: 1;
}

.PromoCard_price {
    vertical-align: middle;
    column-gap: 9px;
    margin-top: 16px;
    display: flex;
    align-items: center;
}

.PromoCard_discount {
    font-size: 16px;
    line-height: 16px;
    color: #A5A5A5;
    text-decoration: line-through;
}