.breadcrumbs__content {
    background-color: white;

    border-bottom: solid 1px #ECECEC;

}



.crubms__text::after {
    content: "";
    display: inline;
    background-size: cover;
    background: url(./../../../assets/Common/innerheader/BreadCrumbs/Vector.svg) no-repeat;
    width: 24px;
    height: 24px;
}