.shiftercatalogproducts__content {
    margin-top: 32px;
    display: flex;
}

.shifter__products__block {


    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-rows: repeat(3, minmax(300px, 1fr))
}

.shifter__catalog__commonblock {
    display: flex;
    column-gap: 42px;
}