.Header-content {
    background: url(./../../assets//Common/navigation/Background.png);
    background-size: cover;
    padding-bottom: 32px;
}




.combobox__element {
    position: relative;



}



.combobox__element::after {
    margin: 24px 0;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 24px;
    width: 100%;
    max-width: 375px;
    height: 1px;
    background: linear-gradient(90deg, rgba(75, 75, 75, 1), rgba(38, 38, 37, 0));
}

.combobox__element:last-child::after {
    content: none;
}


.header__slider ul li::before {
    display: inline-block;
    content: "";
    width: 31px;
    height: 2px;
    background: rgba(87, 87, 87, 1)
}

.header__slider ul li.active::before {
    display: inline-block;
    content: "";
    width: 31px;
    height: 2px;
    background: linear-gradient(to right, rgba(245, 112, 44, 1) 50%, rgba(87, 87, 87, 1) 50%);
}




.HeroImg.entering {
    animation: heroAnimation 2s forwards;
}

.HeroImg.entered {
    animation: heroAnimation 3s forwards;
}

.HeroImg.exiting {
    animation: heroAnimation 2s reverse;
}

.HeroImg.exited {
    animation: heroAnimation 1s reverse;
}

@keyframes heroAnimation {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }


    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@media (width < 768px) {
    .combobox__element::after {
        margin: 24px 0;
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        top: 24px;
        width: 100%;
        max-width: 198px;
        height: 1px;
        background: linear-gradient(90deg, rgba(75, 75, 75, 1), rgba(38, 38, 37, 0));
    }
}