.cardproduct__imagesblock img {
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    display: block;
    border: 2px solid transparent;
    border-radius: 2px;
    transition: border-color 0.2s;
    cursor: pointer;
}

.cardproduct__imagesblock img:hover {
    border-color: var(--orange-color);
}

.cardproduct__imagesblock {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}




.cardproduct__rightblock li {
    display: flex;

}

.cardproduct__rightblock li {
    color: #7B7B7B;
}



.info-list li {
    display: flex;
    margin-bottom: 8px;
}

.info-label {
    color: #999;
    width: 120px;
    margin-right: 37px;
    font-weight: 400;
}

.info-value {
    color: #111;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}