.wrap{
    max-width: 1920px;
    margin: 0 auto;
}

.container{
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1185px;
}

:root{
    --white-color: #FFFFFF;
    --gray-color: #939393;
    --white-gray-color: #BEBEBE;
    --black-color: #151716;
    --orange-color: #FE5B00;
}

*{
    font-size: 18px;
    font-family: "PT Sans";
    font-weight: 400;
}

h1{
    font-family: "Orenburg";
    font-size: 60px;
    line-height: 64px;
}

h2{
    color:  var(--black-color);
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.5px;
    font-family: "Orenburg";
}

h3{
    color: var(--white-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 2px;
}

h2.white{
    color:  var(--white-color);
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.5px;
    font-family: "Orenburg";
}

strong {
    color: var(--black-color);
    font-size: 16px;
    font-weight: bold;
    font-family: "Orenburg";
}

strong.white{
    color: var(--white-color);
    font-weight: bold;
    font-size: 20px;
    font-family: "Orenburg";
}

