.endblock__content {

    background: url(./../../../assets/Landing/main/Ouradvantages/background.png) no-repeat;

}

.endblock__bycompanyblock {
    text-align: center;

    background-color: #F6761A;
    padding: 42px 0px 47px;
}

.endblock__bycompanyblock p {
    font-family: "Orenburg";
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0%;
    vertical-align: middle;
}