.footer__ref__mail {}

.footer__ref__mail::before {
    margin-right: 8px;
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background: url(./../../assets/Landing/footer/mail.svg);
}

.footer_ref__tel {}

.footer__ref__tel::before {
    margin-right: 8px;
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background: url(./../../assets/Landing/footer/iphone.svg);
}

.footer__ref__social {
    margin-top: 15px;
}

.footer__other {}

.footer__other button {
    color: #747474;
    background: none;
    border: solid 1px #494949;
    padding: 8px 12px;
}

.footer__other p {
    font-size: 12px;
}